
@media (max-width: 600px) {
h1 {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    text-align: center;
    color: #e253a3;
    margin-bottom: 25px;
}

p{
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
}
}



@media (min-width: 1000px) {

    /* ---om mig----- */
    .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 3rem 1rem ;
    justify-content: space-between;
    grid-column-gap: 1rem;
  }

    .container4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
        
    }
    
}


@media (max-width: 1200px){
    .container {
        width: 100%;
    }

    .subcontainer {
        width: 100%;
    }

    .hamburger{
        display: block;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px)rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px)rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
       left: -100%;
        top: 88px;
        gap: 0;
        flex-direction: column;
        background-color:  #ede9e3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-item {
        margin: 16px 0;
    
    }

    .nav-menu.active {
        left: 0;
    }
}