/* ---generelt---- */

main {
    max-width: 1200px;
    margin: 0 auto;
}

font-face{
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik Puddles', cursive;
    font-family: 'Poiret One', cursive;
}

body {
    margin: auto;
    background-color: #ede9e3;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 1.9;
    text-align: left;

}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    text-align: center;
    color: #e253a3;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}


/* ------Menu------- */

.logo {
    width: 80px;
    height: auto;
}

ul {
    list-style-type: none;
    text-align: right;
}

li {
    display: inline;
}

li a {
    font-family: 'Poiret One', cursive;
    color: rgb(248, 157, 109);
    font-size: 20px; 
    text-align: right;
    text-decoration: none;
    justify-content: space-evenly;
    border-radius: 40px;
    padding: 20px;
}


.navbar li a:hover {
    color: rgb(20, 209, 178);
   
}

a.active {
    color: rgb(20, 209, 178);

}

/* ------Hamburger------- */

header {
    background-color:  #ede9e3;
    position: sticky;
    padding: 0.8rem 2rem;
}


.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer {
    width: -20px;
    margin: auto;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.8s ease;
    background-color: black;

}

@media (max-width: 1200px){
    .container {
        width: 100%;
    }

    .subcontainer {
        width: 100%;
    }

    .hamburger{
        display: block;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px)rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px)rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
       left: -100%;
        top: 88px;
        gap: 0;
        flex-direction: column;
        background-color:  #ede9e3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-item {
        margin: 16px 0;
    
    }

    .nav-menu.active {
        left: 0;
    }
}






/* -----om mig----- */
.tekst p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 1.8rem;
}



img {
    width: 100%;
    height: auto;
}

  
/* ---grund. web----- */

.col {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}


.icon{
    width: 3%;
    height: auto;
}
footer{
    background-color:  #ede9e30e;
    text-align: center;
    line-height: 2%;
    padding: 12px;
    /* position: fixed; */
    width: 100%;
    bottom: 0%;
}

footer